@import url('https://fonts.googleapis.com/css?family=Rubik');
body{
    background-color: 232931;
    background-image: url(../img/back.jpg);
    box-sizing: border-box;
    margin-top: 2px;
    direction: rtl;
    overflow: hidden;
    font-family: "Rubik";
}
.container{
    position:relative;
    
    height:88%;
    background-color:rgba(255,255,255, 0.2);

    padding:5px;
    
    
}
.topnav{
    position:relative;
    width:100%;
    height:10%;
   

    margin-bottom: 10px;
 
  
    
}
.logo
{
    position: absolute;
 
    right:1%;
    width:10%;
    top:8%;
    bottom:20px;



 
    
}
.tblid{
    position: relative;
    text-align: center;
    vertical-align: middle;
    top:0%;
    right:40%;
    background-color:black;
    width:20%;
    height:80%;
        font-size: 42px;
    color:white;
    border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
}
.total{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    float: left;
    left: 2%;
    background-color:ededed;
    width:20%;
    border-radius: 10px;
    height:8%;
    font-size: 42px;
    top:78%;
    
}

.items{
    position: absolute;
    background-color:rgba(255,255,255, 0.2);;
    width:20%;
    height:90%;
    border-radius:5px;
    overflow-y: auto;
    overflow-x: hidden; 

    background-size: 200px;



}

.items ul {
    position:absolute;
    list-style:none;
    width:100%;
    padding-right:20px;


}
.items ul li{
    
    list-style:none;
    border:1px solid;
    margin:10px;
    height:40px;
    padding-right:10px;
    padding-top:10px;
    width:80%;
    
}

.items1{
    position: relative;
    background-color:rgba(255,255,255, 0.2);;
    width:20%;
    height:90%;
    border-radius:5px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    left:55%;
    

}

.items1 ul {
    position:absolute;
    list-style:none;
    width:70%;
      padding-right:20px;
    width:100%;
}
.items1 ul li{
    list-style:none;
    border:1px solid;
    margin:10px;
    height:40px;
    padding-right:10px;
    padding-top:10px;
    width:80%;
    
}




.items::before{
    position:absolute;
    content:"אוכל";
    background-color:232931;
    width:100%;
    text-align: center;
    color:white;

    
}
.items1::before{
    position:absolute;
    content:"שתיה";
    background-color:232931;
    width:100%;
    text-align: center;
    color:white;
}

.items3{
    position: relative;
    background-color:rgba(255,255,255, 0.2);;
    width:20%;
    height:40%;
    border-radius:5px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    left:10%;
    

}

.items3 ul {
    position:absolute;
    list-style:none;

    padding-right:20px;
    width:100%;
}
.items3 ul li{
    list-style:none;
    border:1px solid;
    margin:10px;
    height:40px;
    padding-right:10px;
    padding-top:10px;
    width:80%;
    
}






.items3::before{
    position:absolute;
    content:"אחר";
    background-color:232931;
    width:100%;
    text-align: center;
    color:white;
}




.listitems{
    position: relative;
    background-color:404b69;
    width:20%;
    height:600px;
    border-radius:5px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    right:38%;  
    color:white;


    
}

.listitems::before{
    position:absolute;
    content:"מכירה";
    background-color:232931;
    width:100%;
    text-align: center;
    color:white;
    
}
 .listitems ul {
    position:absolute;
    list-style:none;
    width:70%;
    padding-right:20px;
    width:100%;
     padding-top:20px;
     font-size: 18px;
}
    

input[type=submit]
{
    position:absolute;
    color:red;
    bottom:20px;
    left:1%;
    height:10%;
    width:10%;

    
  
}
.price{position:absolute;
      display: inline-block;
  left:20%;
        



}

.noty
{
    background-color:black;
    color:white;
    width:100%;
   
}

.clientinfo{
    position:absolute;
    font-size: 23px;
    right:50%;
    top:48%;
    background-color:rgba(255,255,255, 0.2);
    width:19%;
    height:30%;
    padding:10px;
}
 .inputphone{
     position: absolute;
     left:15px;
     content:"Hello";
     height:10%;
     color:black;
     top:15px;
     height:10%;
     display: inline-block;
     border-radius: 5px;
     background-color: rgba(255,255,255, 0.2);
     
}
.inputname{
    position: absolute;
    left:15px;
    content:"Hello";
    height:10%;
    color:black;
    top:65px;
    height:10%;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.2);

}
.TA{
    position: absolute;
    top:40%;

}
.TA input[type=radio]
{

    position: relative;
    top:30%;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #eee;

}


.sts
{
    color:#00FF23;
    font-size:18px;
}
.username{
    position:absolute;
    top:60%;
    right:20%;
    word-spacing: 100%;


}
.load{
    position:absolute;
    top:60%;
    color:red;right:40%;
}
.loadimg{
    width:20%;
}